# copy and rename this file to '.env' to take effect

AllowedOrigins=*

# URL of the frontend website
WebsiteUrl=http://localhost:3000

# Default pagination limits
Limits__Default__Default=25
Limits__Default__Max=100

# migrate the database on startup (Development only)
# Set to true when running in Docker to auto-migrate the database
ApplicationContext__MigrateDb=true

ApplicationContext__PG__HOST=localhost
ApplicationContext__PG__USER=admin
ApplicationContext__PG__PASSWORD=example
ApplicationContext__PG__DB=leaderboardsmain
ApplicationContext__PG__PORT=5432

JWT__KEY=coolsecretkeywowitssoincredibleiloveit
JWT__ISSUER=leaderboards.gg

ADMINER_PORT=1337

Brevo__ApiKey=my-brevo-api-key
